<div class="qresult">
  <% @questions.each do |question| %>
    <div class="media">
      <div class="media-body">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <td>質問</td>
                <td><%=question.question_text %></td>
              </tr>
              <% if logged_in? %>
                <%= render'aform'%>
              <% else %>
                <tr>
                  <td>回答</td>
                  <td><%=question.answer_text %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
      </div>
    </div>
  <% end %>
</div>