<div class="center jumbotron">
  <h1>サークル一覧</h1>

  
  <h2>スポーツ系</h2>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="text-center">ジャンル</th>
          <th class="text-center">名前</th>
        </tr>
      </thead>
      <% @circles_sport.each do |circle| %>
      <tbody>
        <tr>
          <td class="text-center"><%=circle.genre.name %></td>
          <td class="text-center"><%= link_to circle.name, circle %></td>
        </tr>
      </tbody>
      <% end %>
    </table>
  </div>

  <h2>文化系</h2>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="text-center">ジャンル</th>
          <th class="text-center">名前</th>
        </tr>
      </thead>
      <% @circles_culture.each do |circle| %>
      <tbody>
        <tr>
          <td class="text-center"><%=circle.genre.name %></td>
          <td class="text-center"><%= link_to circle.name, circle %></td>
        </tr>
      </tbody>
      <% end %>
    </table>
  </div>
  
</div>