
<% provide(:title, @circle.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="circle_info">
      <h1>
        <%= gravatar_for @circle %>
        <%= @circle.name %>
      </h1>
    </section>
  </aside>
</div>